{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Réservation
{% endblock %}

{% block body %}
 <h1>Réserver une table</h1>
  {{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.guest) }}
{{ form_row(form.date) }}
{{ form_row(form.hour) }}
{{ form_rest(form) }}

{{ form_end(form) }}
{% endblock %}
